body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}
.container1{
    background-color: gray;
    width:260px;
    box-shadow: 3px 3px 5px black;
    padding:15px;
}
.container2{
    background-color: white;
    width: 220px;
    display: flex;
    align-items: center;
    font-size: 26px;
    height:10vh;
    padding: 0 20px;
    margin-bottom: 10px;
}
.container3{
    display: flex;
    flex-wrap: wrap;
}
button{
    background-color: cyan;
    color:white;
    font-size: 26px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px white;
    height:50px;
    width:50px;
    border: 0;
    border-right:2px solid black;
    border-bottom:2px solid black ;
    margin: 7px;
}